.app {
  margin: 0 auto;
  padding: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 1em;
  padding: 0.8em;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 600;
  font-size: 38px;
  width: 100%;
  background: rgba(221, 236, 225, 0.548);
  box-shadow: 0 0 10px 0 rgba(158, 151, 151, 0.2);
}

button {
  cursor: pointer;
  transition: background 0.3s;
}
